$secondaryColor: yellow;
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

.keys {
  height: 100%;
  /*   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  margin: 1.5em;
  padding: 10px;
  border: 0.1em solid blue;
  border-radius: 5px;
  transition: all 0.07s;
  kbd {
    display: block;
    color: white;
    font-size: 4rem;
    text-align: center;
  }
}

.playing {
  transform: scale(1.1);
  border-color: white;
  box-shadow: 0 0 10px white;
}

.sound {
  color: $secondaryColor;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
}
